
<%- include('../partials/header.ejs');    %>


<%- include('../partials/flash.ejs');    %>





<main class="container">


    <div class="row">

        <div class="col-md-6 mx-auto">


            


            <h1 class="display-6">Sign Up</h1>

            <form action="/register" method="POST">


                <div class="mb-3">
                    <label for="name" class="form-label">Username</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="User Name">
                </div>
        
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                </div>


                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>

                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Enter password again" />
                </div>
        
                


                <button type="submit" class="btn btn-success btn-small">Sign Up</button>


            </form>






    
        </div>

    </div>


</main>














<%- include('../partials/header.ejs');    %>