@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(7, 128, 165);
    background-color: rgb(115, 178, 194);
    color: white;
}
section{
    width: 380px;
    margin: 0 auto;
}

#chat-box{
    color: black;
    height: 50vh;
    border: 2px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: white;
}

ul{
    list-style: none;
}

li{
    border-radius: 8px;
    border:2px solid #ccc;
    margin:7px;
    padding: 16px 10px;
    box-shadow: 0px 0px 1px 1px lightgrey;
}

#chat-box{
    overflow-y: scroll;
}
nav {
    display: flex !important;
    align-items: center !important;
    justify-content: flex-end!important;
    height:70px !important;
    font-size: 24px !important;
    width:100vw !important;
    padding: 0 20px;
}
a {
    text-decoration: none !important;
    color: white !important;
}
#out {
    background-color: red;
    border-radius: 5px;
}
#out:hover {
    opacity: 0.7;
}
#send-btn {
    width: 150px;
    font-size: 18px;
    background-color: green;
    border: 4px solid green;
    font-weight: 800;
    color:white;
}
#send-btn:hover {
    opacity: 0.7;
}